body,
html {
  margin: 0;
  padding: 0;
}

body {
  background-color: #e9ecef;
}

h4,
h5 {
  text-align: center;
}

#turtlecanvas {
  border: 1px solid #dee2e6;
  background-color: white;
}

.input-group-text {
  width: 120px;
  height: 40px;
}

ul {
  list-style-type: none;
}

.btn-accion {
  width: 100%;
}
